h4 {
    margin-top: 25px;
}
.rowt {
    margin-bottom: 20px;
}
.rowt .rowt {
    margin-bottom: 0;
    margin-top: 10px;
}
[class*="col-"] {
    background-color: rgba(255, 255, 255, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.2);
    padding-bottom: 15px;
    padding-top: 15px;
}
hr {
    margin-bottom: 40px;
    margin-top: 40px;
}
